.custom-textfield {
    -fx-border-radius: 36;
    -fx-background-radius: 36;
}

.custom-button {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #5d68b5;
   
}

.custom-pane {
    -fx-background-color: #9daced;
    -fx-background-radius: 40;
}


.custom-textarea {
    -fx-border-radius: 36;
    -fx-background-radius: 36;
    -fx-border-color: #3669a4; 
    -fx-border-width: 2; 
    -fx-padding: 10; 
}



.button {
    -fx-background-color: #ffffff; 
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.button-hover {
	-fx-background-color: #bdc3c7;
	-fx-background-radius: 50 50 50 50;
}


.button-pressed {
	-fx-background-color: #bdc3c7;
	-fx-background-radius: 50 50 50 50;
}

 
 .list-view {
    -fx-font-size: 25px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-background-radius: 36px; /* Set border radius to 36px */
}

.list-view .list-cell {
    -fx-font-size: 25px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-background-radius: 36px; /* Set border radius to 36px for individual list items */
}

 